@{
    Layout = "_Layout";
}

@section Style{
    <link rel="stylesheet" href="~/css/user.css" />
}


    <div class="banner p-5">
        <div class="container p-3">
            <div class="col-5 text-center p-5 text-white">
                <h2 class="p-3 ">Pizza Obradovic</h2>
                <p>Con sei varianti di peperoncino per raggiungere lo stesso colore del viso del Coach quando il Partizan perde contro l'Efes</p>
                <button type="button" class="btn btn-danger">Ordina ora</button>
            </div>
        </div>
    </div>

    <div class="container my-2 p-3 d-flex justify-content-end">
        <a href="@Url.Action("Create", "Home")">
            <i class="icon add-icon fa-solid fa-plus"></i>
        </a>
    </div>


    <div class="container my-5">
        <div class="row row-cols-2 justify-content-between align-items-center">
            <div class="col-auto">
                <h2 class="fw-bold">Le nostre pizze</h2>
            </div>

            <div class="input-group">
                <div class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></div>
            <input type="text" class="form-control" id="search_box" onkeyup="processChange()" placeholder="Cerca pizza per nome">
            </div>

        </div>
    </div>

    <div class="container mb-5 mt-3">

        <div id="row-empty" class="row d-none">
            <h3>Non ci sono pizze da mostrare</h3>
        </div>

        <div id="row-full" class="row row-cols-lg-4 row-cols-md-2 gy-3">
            
        </div>
    </div>

    @section Scripts{
        <script type="text/javascript">

            loadPizzas();

            document.getElementById("search_box").addEventListener('keyup', searchPizzas)

            function searchPizzas() {
                let searchString = document.getElementById("search_box").value;

                loadPizzas(searchString);
            }
            
            function loadPizzas(searchParam) {
            axios.get('/api/Pizzas/SearchPizza', {
                params: {
                    search: searchParam
                }
                }).then((res) => {

                    console.log(res)

                    let rowEmpty = document.getElementById("row-empty");
                    let rowFull = document.getElementById("row-full");

                    if (res.data.length == 0) {
                        rowEmpty.classList.remove("d-none");
                    } else {
                        rowFull.classList.remove("d-none");

                        rowFull.innerHTML = "";

                        res.data.forEach(pizza => {
                            rowFull.innerHTML +=
                                ` <div class="col">
                                    <div class="card">

                                        <img class="mx-auto border-bottom" width="304" height="203" src="${pizza.image}" alt="${pizza.name}">

                                        <div class="card-body description">
                                            <div class="mb-3">
                                                <h5 class="card-title">${pizza.name}</h5>
                                                <p class="mb-0">${pizza.description}</p>
                                                <span class="price">
                                                    <strong>${pizza.price}&euro;</strong>
                                                </span>
                                            </div>

                                            <button type="button" class="btn btn-danger align-self-end">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </button>


                                        </div>
                                    </div>
                                </div>`

                        })
                            
                    }
                }
                )


            }
        
        </script>
    }

