@{
    Layout = "_Layout";
}

@section Style{
    <link rel="stylesheet" href="~/css/user.css" />
}


    <div class="banner p-5">
        <div class="container p-3">
            <div class="col-5 text-center p-5 text-white">
                <h2 class="p-3 ">Pizza Obradovic</h2>
                <p>Con sei varianti di peperoncino per raggiungere lo stesso colore del viso del Coach quando il Partizan perde contro l'Efes</p>
                <button type="button" class="btn btn-danger">Ordina ora</button>
            </div>
        </div>
    </div>

    <div class="container p-4">
        <h2 class="fw-bold">Le nostre pizze</h2>
    </div>

    <div class="container mb-5 mt-3">

        <div id="row-empty" class="row d-none">
            <h3>Non ci sono pizze da mostrare</h3>
        </div>

        <div id="row-full" class="row row-cols-lg-4 row-cols-md-2 gy-3">
            
        </div>
    </div>

    @section Scripts{
        <script type="text/javascript">

            LoadAllPizzas();
            
            function LoadAllPizzas() {
                axios.get('/api/Pizzas/GetPizzas').then((res) => {

                    console.log(res)

                    let rowEmpty = document.getElementById("row-empty");
                    let rowFull = document.getElementById("row-full");

                    if (res.data.length == 0) {
                        rowEmpty.classList.remove("d-none");
                    } else {

                        rowFull.classList.remove("d-none");

                        res.data.forEach(pizza => {
                            rowFull.innerHTML +=
                                ` <div class="col">
                                    <div class="card">

                                        <img class="mx-auto border-bottom" width="304" height="203" src="${pizza.image}" alt="${pizza.name}">

                                        <div class="card-body description">
                                            <div class="mb-3">
                                                <h5 class="card-title">${pizza.name}</h5>
                                                <p class="mb-0">${pizza.description}</p>
                                                <span class="price">
                                                    <strong>${pizza.price}&euro;</strong>
                                                </span>
                                            </div>

                                            <button type="button" class="btn btn-danger align-self-end">
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </button>


                                        </div>
                                    </div>
                                </div>`

                        })
                            
                    }
                }
                )
            }
        
        </script>
    }

